table{
    width:50%;
    margin: auto;
  
}
table,tr,td{
 
}
#tipo{
    margin-left: 0;
}
td#esquerda{
    text-align: left;
}
td{
    text-align: center;
}
.folha{
    height:944px;
    background: url("imagens/fundos/folha.png") no-repeat center;
}
form{
    position:relative;
    top: 50px;
}

